{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz MUNCH</title>
    <link rel="stylesheet" href="{% static 'student/styles/Homestyle.css' %}" />
</head>

<body>
<header class="header">
    <div class="headerConatiner">
        <div class="logo">
            <span class="logo_text">
                QUIZ MUNCH
            </span>
        </div>
        <div class="headerhome">
            <span class="Home">
                Home
                <div class="Rectangle"></div>
            </span>
            <span class="Home">
                Search
            </span>
            <span class="Home">
                Help
            </span>
            <span class="Home">
                Feedback
            </span>
        </div>
        <div class="headerNotification">
            <div class="Bell">
            </div>
            <span class="notificationtext">
                Notifications
            </span>
            <div class="header-profile-container">
                <span class="RB">
                    AKS
                </span>
                <div class="header-arrow">
                    <p><i class="arrow down"></i></p>
                </div>
            </div>
        </div>
    </div>
</header>

</body>

</html>