{% load static %}
{% include 'student/header.html' %}
{% block content %}
    <main>        
        <!----------- Quiz Progress ------->
        <div class="Container-Quizzes-progress">
            <div class="containerHeader">
                <h1 class="Quiz-Progress">
                    Quiz Progress
                </h1>
            </div>
            
            <div class="backgroundColourProgressQuizzes">
                <div class="ProgressQuizzesText">   
                    <br>
                    <span class="Overall-Progress-of-Quizzes">
                        Overall Progress of Quizzes
                    </span>
                    <div class="progress1">
                        <div class="progressQuizzesComplete"></div>
                        <span class="Pending-Quizzes">
                            Completed Quizzes - 3
                        </span>
                    </div>

                    <div class="progress1">
                        <div class="progressQuizzesPending"></div>
                        <span class="Pending-Quizzes">
                            Pending Quizzes - 7
                        </span>
                    </div>
                </div>
                <div class="ProgressQuizzesbar">
                    <div id="piechart"></div>
                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>  
                    <script type="text/javascript">
                    // Load google charts
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);
                    
                    // Draw the chart and set the chart values
                    function drawChart() {
                      var data = google.visualization.arrayToDataTable([
                      ['Task', 'Quiz Progress'],
                      ['Completed', 3],
                      ['Pending', 7]
                    ]);
                    
                      // Optional; add a title and set the width and height of the chart
                      var options = {'width':400, 'height':240};
                    
                      // Display the chart inside the <div> element with id="piechart"
                      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
                      chart.draw(data, options);
                    }
                    </script> 
                </div>
                
            </div>

            <div class="upcomingQuizborder">
                <div class="upcomingQuizheader">
                    <h1 class="Upcoming-Quizzes-Due">
                        Upcoming Quizzes Due
                    </h1>
                </div>
                <div class="FrContainerborder1">
                    <span class="Course---Date--">
                        Course -
                        Date -
                    </span>
                    <span class="upcomingquizeCource">
                        Quiz on Data Structures<br>
                        Feb 26
                    </span>
                </div>
                <div class="FrContainerborder1">
                    <span class="Course---Date--">
                        Course -
                        Date -
                    </span>
                    <span class="upcomingquizeCource">
                        Quiz on AIML<br>
                        Feb 28
                    </span>
                </div>
                <div class="FrContainerborder1">
                    <span class="Course---Date--">
                        Course -
                        Date -
                    </span>
                    <span class="upcomingquizeCource">
                        Quiz on Operating System<br>
                        March 05
                    </span>
                </div>
                <div class="FrContainerborder1">
                    <span class="Course---Date--">
                        Course -
                        Date -
                    </span>
                    <span class="upcomingquizeCource">
                        Quiz on DBMS <br>
                        March 09
                    </span>
                </div>
            </div>
        </div>
        <br>
        

        <!---------- my courses ---------------->

        <div class="containerCourses" style="height: {{actualheightfcourses}}px;">

            <div class="containerHeader">
                <h1 class="Quiz-Progress">
                    My Courses 
                    <!-- {{actualheightfcourses}} -->
                </h1>
            </div>
            <div class="courses-current-sem-container">
                <span class="Current-Semester">
                    Current Semester
                  </span>
                  <div class="Expand-Arrow">
                    <p><i class="arrow down"></i></p>
                  </div>
            </div>
            <style>
                .searchImage{
                    width: 2cap;
                    margin-left: 35%;
                }
            </style>
            <input type="text"  class="course-search-container" placeholder="     Search courses" style="font-size: 20px; color:rgba(0, 0, 0, 0.15);">

            <div class="layout">
                {% for course in course_details %}
                <div class="Courses-All-display-container">
                    <div class="imagecoursebox">
                    <img class="subjectImage" src="{% static 'student/images/'%}{{ course.course_id }}.png">
                    </div>
                    <div class="courses-year">
                        <span>
                            <!-- 2023-24 -->
                        <b>Semester:{{course.semester}}</b>
                        </span>
                        <span class="courses-name">
                            {{course.course_name}}
                        </span>
                        <span class="Instructor-name">
                            <b>Instructor - {{course.teachername}}</b>
                        </span>
                    </div>
                    <div class="Total-Quizes-text-container">
                        <span class="Total-Quizes">
                            Total Quizes :
                            <span class="text-style-1"> {{course.total_quiz}} </span>
                        </span>
                        <span class="Courses-Upcoming-Quiz">
                            <span class="text-style-1">Upcoming :</span>
                            Quiz 2, 28 Feb,23
                            <span class="text-style-2"></span>
                        </span>
                        <span class="courses-Completed-text">
                            Completed
                            <span class="text-style-1">:</span>
                            <span class="text-style-2">0/{{course.total_quiz}}</span>
                            <span class="text-style-3"></span>
                            <div class="Courses-complete-bar-final">   
                                <div class="Courses-complete-bar-1">                   
                                    <div class="Courses-complete-bar-2" style="width: 58.4615%;">
                                    </div>
                                </div>
                            </div>
                        </span>
                        <div class="courses-check-details-buttom">
                            <span class="Check-Details">
                                <a href="{% url 'studentCourseDetail' course.course_id %}" class="Check-Details">
                                    Check Details
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% include 'student/footer.html' %}
{% endblock content %}