{% load static %}
{% include 'student/header.html' %}
{% block content %}
<style>
    .courses-check-details-buttom1 {
        width: 242px;
        height: 0px;
        margin-top: -3px;
        margin-left: -17.5px;
        margin-bottom: -25px;
        align-self: stretch;
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 23px;
        background-color: #00d0ff;
        border-bottom-right-radius: 5px 5px;
        border-bottom-left-radius: 5px 5px;
    }

    .courses-check-details-buttom1:hover {
        background-color: #00c5f1;
    }

    .courses-check-details-buttom:hover {
        background-color: #00c5f1;
    }
</style>
<main>
    <br><br>
    <div class="containerCourses" style="height: {{ actualheightfcourses }}px;">
        <div class="containerHeader">
            <h1 class="Quiz-Progress">
                My Quizzes
            </h1>
        </div>

        {% if showmessage %}
        <p style="text-align: center;">Quizzes not available</p>
        {% endif %}

        <div class="layout">
            {% for course in details %}
            <div class="Courses-All-display-container">
                <div class="imagecoursebox">
                    <img class="subjectImage" src="{% static 'student/images/'%}{{ course.course_id }}.png">
                </div>
                <div class="courses-year">
                    <span class="courses-name">
                        Quiz Name: {{ course.quiz_name }}
                    </span>
                    <span class="Instructor-name">
                        <b>Start</b> - {{ course.start_time }} - {{ course.start_date }}
                    </span>
                    <span class="Instructor-name">
                        <b>End</b> - {{ course.end_time }} - {{ course.end_date }}
                    </span>
                </div>
                <div class="Total-Quizes-text-container">
                    <span class="Total-Quizes">
                        Batch:
                        <span class="text-style-1"> {{course.batch}} </span>
                    </span>
                    <span class="courses-Completed-text">
                        Backtracking:
                        <span class="text-style-1">:</span>
                        {% if course.backtracking %}
                        <span class="text-style-2">Yes</span>
                        {% else %}
                        <span class="text-style-2">No</span>
                        {% endif %}
                    </span>


                    <div class="courses-check-details-buttom1">
                        {% if course.AlreadyAttempted %}
                        <span class="Check-Details">
                            <a href="{% url 'Quizresult' course.uuid %}" class="Check-Details" id="upload_quiz">
                                View Result
                            </a>
                        </span>
                        {% else %}
                        <a class="Check-Details" id="upload_quiz">
                            Not Available
                        </a>
                        {% endif %}
                    </div>

                    {% if course.QuizStart %}
                    <div class="courses-check-details-buttom">
                        <span class="Check-Details">
                            <a href="{% url 'quizdisplay' course.uuid %}" class="Check-Details" id="upload_quiz">
                                Start Quiz
                            </a>
                        </span>
                    </div>
                    {% elif course.AlreadyAttempted %}
                    <!-- Your HTML for already attempted quiz case -->
                    <div class="courses-check-details-buttom">
                        <span class="Check-Details">
                            <a class="Check-Details" id="upload_quiz" style="color: rgb(255, 0, 0);">
                                <b>Attempted</b>
                            </a>
                        </span>
                    </div>
                    {% elif course.MissedQuiz %}
                    <!-- Your HTML for missed quiz case -->
                    <div class="courses-check-details-buttom" style="background-color: rgb(16, 217, 232);">
                        <span class="Check-Details">
                            <a class="Check-Details" id="upload_quiz">
                                Missed Quiz
                            </a>
                        </span>
                    </div>
                    {% elif course.QuizNotStarted %}
                    <!-- Your HTML for quiz not started case -->
                    <div class="courses-check-details-buttom" style="background-color: rgb(69, 201, 192);">
                        <span class="Check-Details">
                            <a class="Check-Details" id="upload_quiz">
                                Not Started
                            </a>
                        </span>
                    </div>
                    {% endif %}

                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
</main>
{% include 'student/footer.html' %}
{% endblock content %}