.Container-profile {
  width: 1365px;
  height: 815px;
  margin-top: 39px;
  margin-bottom: 20px;
  flex-grow: 0;
  margin-left: 8%;
  padding: 0 0 30px;
  /* border-radius: 10px; */
  /* box-shadow: 0 -4px 40px 0 rgba(127, 14, 14, 0.05), 0 4px 40px 0 rgba(0, 0, 0, 0.05); */
  /* background-color: #a32a2a; */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    margin-left: 10px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-left: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ProgramDetails{
    width: 690px;
    height: 200px;
    margin: 0 auto;
    margin-left: 170px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);  
}

.profile-header {
    text-align: center;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-details {
    flex-grow: 1;
    box-shadow:  0.5px 0.5px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 2px 16px;

}



.profile-details p {
    margin: 10px 0;
    font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000; 
}

.ProgramDetails p {
  margin: 10px 0;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.8px;
  text-align: left;
  color: #000; 
  flex-grow: 1;
    box-shadow:  0.5px 0.5px 1px rgba(116, 114, 114, 0.2);
    transition: 0.3s;
    padding: 2px 16px;
}

.phone{
    margin-top: 15px;
    width: 5px;
    height: 5px;
    
}

.phoneno1{
    color: #545555;
    font-size: 17px;
    margin-left: 30px;
    padding-bottom: -30px;

}
.name_profile{
  margin: 15px 0;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.8px;
  text-align: left;
  color: #151010;  
}

.ProgramDetails strong{
    font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 0.8px;
  text-align: left;
  color: #210d94;    
}
