.body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.Frame-4 {
width: 408px;
height: 450px;
margin: 11px 0 0;
padding: 179px 87px 35px 96px;
border-radius: 10px;
background-color: #0007b0;
}

.image-container {
width: 249px;
height: 158.1px;
margin: 0 179px 0px 20px;
/* background-color: #c8c9dc; */

}

.image-container-1 {
width: 389px;
height: 118.1px;
margin-top: -200px;
padding: 32.5px 9.8px 31.7px 0;
/* background-color: #f4f4f4; */
}
img {
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
}
.main-container {
width: 416px;
height: 308px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 44px;
margin: 28px 9px 78px 0;
padding: 0;
}
.username-container {
width: 416px;
height: 94px;
flex-grow: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
padding: 0;
}
.Username {
width: 104px;
height: 18px;
flex-grow: 0;
font-family: Inter;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.9;
letter-spacing: normal;
text-align: left;
color: #fff;
margin-top: 5px;
}
.username-box {
width: 412px;
height: 46px;
flex-grow: 0;
border-radius: 5px;
border: solid 1px rgba(218, 211, 211, 0.25);
background-color: #e4dede;
margin-bottom: 7px;
}
.password-container {
width: 416px;
height: 94px;
flex-grow: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 20px;
padding: 0;
margin-top: -10px;
}
.Password {
width: 104px;
height: 18px;
flex-grow: 0;
font-family: Inter;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.9;
letter-spacing: normal;
text-align: left;
color: #fff;
}
.password-box {
width: 412px;
height: 66px;
margin: 20px 0 0;
border-radius: 5px;
border: solid 1px rgba(0, 0, 0, 0.25);
background-color: #fff;
margin-bottom: 12px;
margin-top: 1px;
}
.main-container {
width: 416px;
height: 308px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
gap: 44px;
margin: 28px 9px 78px 0;
padding: 0;
}

.Remember-checkbox {
width: 22px;
height: 22px;
flex-grow: 0;
border-radius: 5px;
background-color: #fff;
}

.Remember-me {
width: 147px;
height: 18px;
flex-grow: 0;
font-family: Inter;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.9;
letter-spacing: normal;
text-align: left;
color: #fff;
}

.Forgot-container {
width: 180px;
height: 38px;
flex-grow: 0;
margin-left: 250px;
margin-top: -86px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
padding: 10px;
}

.Forgot-Password {
width: 160px;
height: 18px;
flex-grow: 0;
font-family: Inter;
font-size: 20px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 0.9;
letter-spacing: normal;
text-align: left;
color: #fff;
margin-left: auto;
}

.Remember-container {
width: 181px;
width: 300PX;
height: 32px;
flex-grow: 0;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 12px;
padding: 0;
}

.login-button {
width: 150px;
height: 66px;
/* margin: 75px 9px 0 0; */
margin-top: -20px;
padding: 22px 57% 21px 176px;
border-radius: 10px;
border-color: #00ffe0;
background-image: linear-gradient(to right, #00d1ff -3%, #00ffe0 102%);
}

.Login {
width: 55px;
height: 19px;
font-family: Inter;
font-size: 24px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 0.75;
letter-spacing: normal;
text-align: center;
color: #fff;
}