{% load static %}
    <footer>
        <div class="footer">
            <span class="All-Rights-Reserved-UPES-Quiz-Portal">
                All Rights Reserved | © 2024 Quiz Munch 
            </span>
            <div class="SocialMedia">
                <div class="Instagram">
                    <img class="imgbackgroundClr" src="https://raw.githubusercontent.com/kunaladarsh/QuizMunch-Frontend/main/Quiz%20Munch/Image/Instagram_logo.png">
                </div>
                <div class="TwitterX">
                    <div class="TwitterX">
                        <img class="imgbackgroundClr" src="https://raw.githubusercontent.com/kunaladarsh/QuizMunch-Frontend/main/Quiz%20Munch/Image/twitter.png">
                    </div>
                </div>
                <div class="LinkedIn">
                    <img class="imgbackgroundClr" src="https://raw.githubusercontent.com/kunaladarsh/QuizMunch-Frontend/main/Quiz%20Munch/Image/LinkedIn_logo.png">
                </div>
                <div class="Facebook">
                    <img class="imgbackgroundClr" src="https://raw.githubusercontent.com/kunaladarsh/QuizMunch-Frontend/main/Quiz%20Munch/Image/Facebook_f_logo.png">
                </div>
            </div>
    
        </div>
    </footer>