{% extends 'teacher/main.html' %}
{% load static %}

{% block content %}

<body>
    <main>
        <!----------- Quiz Progress ------->
        <br><br>
        <!---------- my courses ---------------->
        <div class="containerCourses" style="height: {{ actualheightfcourses }}px;">  
            <div class="containerHeader">
                <h1 class="Quiz-Progress">
                    Dashboard
                </h1>
            </div>
            <div class="courses-current-sem-container">
                <span class="Current-Semester">
                    Current Semester
                </span>
                <div class="Expand-Arrow">
                    <p><i class="arrow down"></i></p>
                </div>
            </div>
            <input type="text" class="course-search-container" placeholder="Search courses"
                style="font-size: 20px; color:rgba(0, 0, 0, 0.15);">

            <div class="layout">
                {% for course in details %}
                <div class="Courses-All-display-container">
                    <div class="imagecoursebox">
                        <!-- Assuming you have a field for image URL in your TeacherCourses model -->
                        <!-- <img class="subjectImage" src="https://raw.githubusercontent.com/kunaladarsh/QuizMunch-Frontend/main/Quiz%20Munch/Image/course_name_1.png"> -->
                        
                        <img class="subjectImage" src="{% static 'student/images/'%}{{ course.course_id }}.png">
                       
                    </div>
                    <div class="courses-year">
                        <span class="courses-name">
                            {{ course.course_name }}
                        </span>
                        <!-- Assuming you have an Instructor field in your TeacherCourses model -->
                        <span class="Instructor-name">
                            Instructor:  {{ teacher_name }}
                        </span>
                        <span class="Instructor-name">
                            <b>Stream: </b>
                            <span class="Total-Quizes">
                                Computer Science
                            </span>
                        </span>
                    </div>
                    <div class="Total-Quizes-text-container">
                        <span class="Total-Quizes">
                            Batch: {{ course.batch }}
                        </span>
                        <span class="Total-Quizes">
                            Honor: {{ course.honor_or_non_honor }}
                        </span>
                        <!-- Assuming you have a field for completed quizzes in your TeacherCourses model -->
                        <span class="courses-Completed-text">
                            Total Quizes
                            <span class="text-style-1">:</span>
                            <span class="text-style-2">{{ course.total_quiz }}</span>
                            <span class="text-style-3"></span>
                            <div class="Courses-complete-bar-final">
                                <div class="Courses-complete-bar-1">
                                    <div class="Courses-complete-bar-2">
                                    </div>
                                </div>
                            </div>
                        </span>
                        <div class="courses-check-details-buttom">
                            <a href="{% url 'course_detail' course.course_id %}" class="Check-Details">
                                Check Details
                            </a>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
{% endblock content %}
