{% extends 'teacher/main.html' %}

{% block content %}

    {% for question in questions %}
        <div class="question">
            <h3>Question {{ question.question_number }}</h3>
            <p>{{ question.question_description }}</p>
            <input type="hidden" name="question{{ forloop.counter }}_uuid" value="{{ question.uuid }}">
            <input type="radio" id="option1_{{ forloop.counter }}" name="answer{{ forloop.counter }}" value="{{ question.option1 }}">
            <label for="option1_{{ forloop.counter }}">{{ question.option1 }}</label><br>
            <input type="radio" id="option2_{{ forloop.counter }}" name="answer{{ forloop.counter }}" value="{{ question.option2 }}">
            <label for="option2_{{ forloop.counter }}">{{ question.option2 }}</label><br>
            {% if question.option3 %}
                <input type="radio" id="option3_{{ forloop.counter }}" name="answer{{ forloop.counter }}" value="{{ question.option3 }}">
                <label for="option3_{{ forloop.counter }}">{{ question.option3 }}</label><br>
            {% endif %}
            {% if question.option4 %}
                <input type="radio" id="option4_{{ forloop.counter }}" name="answer{{ forloop.counter }}" value="{{ question.option4 }}">
                <label for="option4_{{ forloop.counter }}">{{ question.option4 }}</label><br>
            {% endif %}
        </div>
    {% endfor %}

    
{% endblock content %}
